nav
    height: 100%
    width: 180px
    background-color: rgb(204, 204, 204)
    padding: 16px

h1
    margin: 0
    font-size: 2rem

.links
    margin: 30px 0
    display: flex
    flex-flow: column nowrap

    a
        text-decoration: none
        color: rgb(126, 126, 126)
        margin: 5px 0
    
    .cart-link
        display: flex
        align-items: center
        .total-items
            width: 20px
            height: 20px
            background-color: #000
            color: #fff
            border-radius: 50%

            display: flex
            justify-content: center
            align-items: center


button
    background-color: #000
    color: #fff
    border: none
    padding: 3px 10px